
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="~/Login/ValidarLogin" method="post">
        <input type="text" id="idusuario" name="idusuario" />
        <input type="text" id="pass" name="pass" />
        <input type="submit" value="Ingresar" />

    </form>
</body>
</html>
