
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditarProducto</title>
</head>
<body>
    <div> 
        <h1>Dani Eres un Capo :3
        
        
        </h1>
    </div>
    <small>irene se la come :v</small>
</body>
</html>
