
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Empresa</title>
</head>
<body>
    <form>
        <table>
            <tr>
                <td>Empresa</td>
                <td></td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td></td>
            </tr>
            <tr>
                <td>Llave</td>
                <td></td>
            </tr>
            <tr>
                <td>Estado</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="submit"/></td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>
